.login-google:hover {
background-color: rgb(65, 65, 65);
cursor: pointer;
transition: 0.3s ease-in-out;
}

.login-epic:hover {
background-color: rgb(65, 65, 65);
cursor: pointer;
transition: 0.3s ease-in-out;
}

.login-steam:hover {
background-color: rgb(65, 65, 65);
cursor: pointer;
transition: 0.3s ease-in-out;
}

.login-psn:hover {
background-color: rgb(65, 65, 65);
cursor: pointer;
transition: 0.3s ease-in-out;
}

.login-apple:hover {
background-color: rgb(65, 65, 65);
cursor: pointer;
transition: 0.3s ease-in-out;
}

.enter:hover {
background-color: rgb(134, 8, 8);
cursor: pointer;
}
