@charset "UTF-8";


.main-start {

    display: flex;
    scrollbar-width: none;
    overflow-x: auto;
    overflow: hidden;
    max-width: 1000px;
    margin: 80px auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    scroll-behavior: smooth;
}

.game {
    text-align: center;
    /* background-color: rgb(22, 22, 22); */
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 205px;
    /* margin: 20px 50px; */

}

.game img {
    width: 180px;
    height: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.game h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.game p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    transform: translateY(10px);
}




/* test */

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.arrow.left {
    left: 80px;
    top: 390px;
}

.arrow.right {
    right: 100px;
    top: 390px;
}

.games-wrapper::before,
.games-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    /* largura do fade */
    height: 100%;
    z-index: 2;
    pointer-events: none;
    /* não bloquear cliques */
}

.games-wrapper::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.games-wrapper::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

@keyframes fadeScroll {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.fade-animation {
    animation: fadeScroll 0.6s ease;
}








/* PRIMARY PART MAIN */

.main-part1 {
    margin-top: 50px;
}

.slider {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    margin: 0 10px;

}


#slide-img {
    width: 700px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition:
        opacity 1.5s ease-in-out,
        transform 1.5s ease-in-out;
    cursor: pointer;
}

#slide-img.revelar {
    clip-path: inset(0 0% 0 0);
    /* revela tudo */
}

.slide-content img {
    width: 700px;
    border-radius: 10px;
}

.slide-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 30px;

}

.info {
    background-color: rgba(53, 53, 53, 0.178);
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.11);
    height: 220px;
    padding: 20px;
    border-radius: 10px;

}

.info h2 {
    font-family: "Poppins", sans-serif;
}

.info p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

#prev {
    display: none;
}

#next {
    display: none;
}

#game-title {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
}


#game-price {
    font-family: "Poppins", sans-serif;
    text-decoration: line-through;
    font-size: 13px;
    color: rgb(158, 158, 158);
    margin-top: 10px;

}

#game-price2 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    background-color: rgb(255, 26, 26);
    width: 130px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

#info-link {
    text-decoration: none;
    color: inherit;

}

#info-link * {
    text-decoration: none;

}

















/* SECOND PART MAIN */

.conteudo-principal {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.games-new {
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.trailer {
    display: none;
    width: 400px;
    transform: translateY(-220px);

}

.games-new p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;

}

.games-new img {
    border-radius: 10px;
    width: 390px;
    padding: 5px;
}

.games-new video {
    transform: translateY(-452px);
}

.new {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.new p {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: 900px;
}

/* MAIN PART 2 ( START ) */

.main-part2 {
    margin-bottom: 100px;
}

.games-online {
    display: flex;
    gap: 30px;
    justify-content: center;
    transform: translateY(100px);
    text-align: center;
}

.game-online {
    cursor: pointer;
}

.game-online img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.game-online p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.jon {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transform: translateY(80px);
    margin-right: 900px;
    cursor: pointer;
}

.free {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.377);
    font-family: "Poppins", sans-serif;
    font-size: 13px;

}

/* MAIN PART2 (END) */


/* MAIN PART3 (START) */

.games-releases {
    display: flex;
    gap: 30px;
    justify-content: center;
    transform: translateY(100px);
    text-align: center;
}

.game-launch img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.game-launch {
    cursor: pointer;
}

.game-launch p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}


.price {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;

}

/* main part 4 */

.main-part4 {
    margin-top: 100px;

}

.games-releases {
    display: flex;
    gap: 30px;
    justify-content: center;
    transform: translateY(100px);
    text-align: center;
}

.game-launch2 img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.game-launch2 {
    cursor: pointer;
    background-color: rgba(49, 49, 49, 0.274);
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

.game-launch2 p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.ofert {
    display: grid;
    gap: 5px;
}


.price-descount {
    text-decoration: line-through;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;


}

.descount {
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border-radius: 10px;
}


/* main part 5 */

.main-part5 {
    margin-top: 100px;
}

.main-part5 a {
    text-decoration: none;
    color: white;

}

#playstation-store {
    margin: 0 180px;
    width: 100px;
}

#xbox-store {
    margin: 0 180px;
    width: 100px;
}

.games-releases3 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    transform: translateY(100px);
    text-align: center;
    background-color: #1c6bff42;
    padding: 20px;
}

.game-launch3 img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.game-launch3 {
    cursor: pointer;
    background-color: #ffffff0e;
    padding: 10px;
    border-radius: 10px;
}

.game-launch3 p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}


.price {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;

}


/* main part 6 */

.main-part6 {
    margin-top: 100px;
}

.games-releases4 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    transform: translateY(100px);
    text-align: center;
    background-color: #1cff6842;
    padding: 20px;
}

.game-launch4 img {
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.game-launch4 {
    cursor: pointer;
    background-color: #ffffff0e;
    border-radius: 10px;
    padding: 10px;
}

.game-launch4 p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}


.price {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;

}

/* RODAPÉ DO SITE */

.rodape {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    transform: translateY(150px);
    background-color: rgb(3, 3, 3);

    border-radius: 2px;

}

.rodape h1 {
    font-size: 20px;
}

.cyk {
    /* text-align: center;  */
   
}

.dev {
    

}

.cop {
    margin-top: 25px;
}

.serv {
    
}

.social-media {
    display: flex;
    flex-direction: column;
    

}

.social-media img {
    width: 30px;
    margin-top: 3px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    border-radius: 10px;
}

.icons-medias {
    display: flex;
    gap: 10px;

}

.icons-medias a {
    height: 0;
}

.links-footer {
    display: flex;
    flex-direction: column;
    gap: 3px;

}

.links-footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    width: 0;
}

.created {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.created a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
}

.copyright p {
    color: rgba(255, 255, 255, 0.719);

}

.suporte a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.719);
    width: 0;
}