@media (min-width: 0px) and (max-width: 445px) {
    .main-mobile-first {
        width: 80%;
        text-align: center;
        
        
    }

    .img-mobile img {
        width: 100%;
    }

    #slide-img {
        width: 100%;
    }

    .slider  {
        padding: 10px;
        width: 100%;
        border-radius: 0px;
    }
}